# Default getssl.cfg configuration file
# The CA to use - production CA is default.
CA="https://acme-v02.api.letsencrypt.org/directory"
# CA="https://acme-staging-v02.api.letsencrypt.org/directory" # For testing

# Private key length
PRIVATE_KEY_ALG="rsa"
PRIVATE_KEY_SIZE="2048"

# Reuse the private key
REUSE_KEY="true"
